snippet t
<${1:div}>
	$0
</${1/([^\s]+).*/$1/}>
endsnippet

snippet page
<juci-layout-with-sidebar>
	<div ng-controller="$1">
		<juci-config-heading>{{ '$2'|translate}}</juci-config-heading>
		<juci-config-info>{{'$3'|translate}}</juci-config-info>
		<juci-config-section>
			<juci-config-lines>
				$0
			</juci-config-lines>
		</juci-config-section>
	</div>
</juci-layout-with-sidebar>
endsnippet
snippet jcl
<juci-config-line title="{{'$1'|translate}}">
	$2
</juci-config-line>
$0
endsnippet
