Host 192.168.*.*
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null

Host 10.10.*.*
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null

Host routerlogin.net
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null

Host gerrit*
	User reidar.cederqvist
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null

Host dev.iopsys.eu
	StrictHostKeyChecking no
	UserKnownHostsFile=/dev/null
